#hamburger{
    display: none;
}


.banner{
    height: 90vh;
    background-color: lightblue;
    margin-bottom: 120px;
}

.header_area{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;

    width: 100%;
    height: 100px;
    font-size: 0.75rem;
    font-family: "Roboto", sans-serif;

    border-bottom: 1px solid #fff;
    color: #fff;
}

.header_area .container{
    width: 1400px;
    margin: 0 auto; 
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header_area .header_logo{
    width: 310px;
    height: 30px;
    fill: #fff;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.header_area .main_menu,
.header_area .icon_box{
    display: flex;
    margin-right: -28px;


}

.header_area .main_menu .menu,
.header_area .icon_box .icon{
    margin-right: 28px;
    font-weight: 500;
}

/* ------------------------------------------ */
/* 서브메뉴 */
.sub_menu_box{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 440px;
    background-color: rgba(0, 0, 0, 0.5);

    opacity: 0;
    z-index: -1;
    transition: 0.3s;
}

.sub_menu_box .sub_menu{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
    padding-bottom: 33px;

    width: 1400px;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    opacity: 0;
    z-index: -1;
    transition: 0.3s;
}
/* -------------------- */

.sub_menu_box.active{
    opacity: 1;
    z-index: 999;
}

.sub_menu_box .sub_menu.active{
    opacity: 1;
}
/* -------------------- */




.sub_menu_box .photo img{
    object-position: center top;
    width: 175px;
    height: 288px;
}

.sub_menu_box .sub_menu_text{
    font-size: 0.75rem;
    color: #fff;
    font-weight: 300;
    margin-bottom: 8px;
}

.sub_menu_box .menu_left{
    width: 435px;
    height: 288px;

    display: flex;
}

.sub_menu_box .menu_left .sub_menu_detail{
    width: 20%;
    margin-right: 12px;
}



/* ------------------------------------------ */

/* 스와이퍼 */
.slider_wrap{
    width: 100%;
    height: 100%;

    overflow: hidden;

    position: relative;
}

.slider_Wrap .auto_slider{
    width: 400%;
    height: 100%;

    display: flex;
}

.slider_wrap .slider{
    width: 25%;
    height: 100%;
}

.slider_wrap .slider1{
    background: url(../image/banner_01_edit.jpg) no-repeat center top / cover;
}
.slider_wrap .slider2{
    background: url(../image/banner_02.jpg) no-repeat center top / cover;
}
.slider_wrap .slider3{
    background: url(../image/banner_03.jpg) no-repeat center top / cover;
}
.slider_wrap .slider4{
    background: url(../image/banner_04.jpg) no-repeat center top / cover;
}


.banner .slider_wrap .banner_text_box{
    position: absolute;
    top: 60%;
    left: 15%;
    color: #fff;
    width: 700px;
}

.banner .slider_wrap .banner_text_subbox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner .slider_wrap .banner_text_box .headtext,
.banner .slider_wrap .slider2 .headtext,
.banner .slider_wrap .slider3 .headtext{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 16px;
    letter-spacing: 2.5px;
}

.banner .slider_wrap .banner_text_box .subtxt{
    font-size: 0.875rem;
    font-weight: 300;
}
/* -------------------- */


.banner .slider_wrap .slider2 .link_box,
.banner .slider_wrap .slider3 .link_box{
    border: 1px solid #fff;
    width: 180px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 1rem;
    font-weight: 500;
}


.swiper-pagination-bullet-active{
    background: #ffff !important;
}


/* ------------------------------------------ */

/* 공통영역 main_section */
.main_section .container{
    width: 1200px;
    margin: 0 auto;
    padding-top: 68px;
    padding-bottom: 68px;
}

/* 공통 헤드텍스트 */
.headtext{
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 2.5px;
    margin-bottom: 36px;
    text-transform: uppercase;    
}

.headtext span{
    color: #49C5B1;
}

/* 공통 서브텍스트 */
.subtext{
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 2.5px; 
}
/* ------------------------------------------ */

/* sec1 */
.sec_1 .concept_top{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 88px;
}

.sec_1 .subtext.top{
    margin-bottom: 16px;
}


.sec_1 .concept_bottom .con_boxes{
    display: flex;
    width: 100%;
}
/* ------------------------------------ */
/* sec1 공통 텍스트박스 */
.sec_1 .text_box{
    color: #fff;
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    
    width: 692px;
}

.sec_1 .img_box{
    width: 488px;
}

.sec_1 .text_box .subtext{
    width: 86%;
}

.sec_1 .concept_bottom .top{
    margin-bottom: 12px;
    font-size: 1rem;
    font-weight: 300;
}
.sec_1 .concept_bottom .bottom{
    font-size: 1.25rem;
    font-weight: 500;
}

/* ---------------------------------- */

.sec_1 .headtext span{
    margin-left: 8px;
}

.sec_1 .con_box_top{
    display: flex;
    margin-bottom: 20px;
}

.sec_1 .con_box_top .text_box{
    height: 558px;
    background-color: #002632;
    margin-right: 20px;
}

.sec_1 .con_box_top .img_box{
    height: 558px;
}

.sec_1 .con_box_center {
    display: flex;
    margin-bottom: 20px;
}

.sec_1 .con_box_center .img_box{
    height: 488px;
    margin-right: 20px;
}

.sec_1 .con_box_center .text_box{
    height: 488px;
    background-color: #49C5B1;
}

.sec_1 .con_box_bottom{
    display: flex;
}

.sec_1 .con_box_bottom .text_box{
    height: 658px;
    background-color: #002632;
    margin-right: 20px;
}

.sec_1 .con_box_bottom .img_box{
    height: 658px;
}

/* ---------------------------------- */
/* sec2 */
.sec_2 .headtext{
    display: flex;
    justify-content: center;  
}

.sec_2 .headtext span{
    margin-right: 8px;
}

.sec_2 .best_item_box{
    display: flex;
   margin-right: -20px;
}

.sec_2 .out_box{
    margin-right: 20px;
    width: calc(33.333% - 20px);
    height: 512px;

    position: relative;

    transition: 0.3s;
}

.sec_2 .front_back_box div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* opacity: 0; */
    transition: 0.3s;
}

.sec_2 .f_box{
    transform: rotateY(0);
    opacity: 1;
}

.sec_2 .b_box{
    transform: rotateY(180deg);
    opacity: 0;
}

.sec_2 .out_box:hover .f_box{
    transform: rotateY(180deg);
    opacity: 0;
}

.sec_2  .out_box:hover .b_box{
    transform: rotateY(0);
    opacity: 1;
}

/* ---------------------------------- */
/* sec3 */
/* 배경컬러를 전체적으로 전환 */
body{
    transition: 1s;
}

body.bg{
    background-color: #002632;
}

/* ---------------------------------- */
.sec_3 .item_top{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.sec_3 .item_logo{
    width: 100px;
    height: 100px;
}

.sec_3 .headtext{
    margin-bottom: 12px;
}

.sec_3 .subtext{
    margin-bottom: 40px;
}

.sec_3 .item_bottom{
    display: flex;
    flex-wrap: wrap;
    margin-right: -20px;
}

.sec_3 .item_bottom .item{
    margin-right: 20px;
    width: calc(25% - 20px);
    margin-bottom: 20px;
    height: 285px;
    
    position: relative;
}

.sec_3 .item_bottom .item_detail{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    transition: 0.3s;
}

.sec_3 .item_bottom .item_inner{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.sec_3 .item_bottom .headname{
    font-size: 0.875rem;
    margin-bottom: 24px;
    font-weight: 500;
    padding-bottom: 6px;
    /* display: inline-block; */
}

.sec_3 .item_bottom .headname.underline{
    border-bottom: 1px solid #fff;  
}

.sec_3 .item_bottom .item_name{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 24px;
}

.sec_3 .item_bottom .link_content{
    font-size: 0.875rem;
    font-weight: 500;
    color: #49C5B1;
}

.sec_3 .item_detail .link_content a::after{
    content: "\f105";
    font-family: fontawesome;
    margin-left: 10px;
    font-weight: 500;
}

.sec_3 .item:hover .item_detail{
    opacity: 1;
}

/* ---------------------------------- */
/* sec4 */
.sec_4 .headtext span{
    margin-right: 8px;
}

.sec_4 .news_top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-bottom: 52px;
}

.sec_4 .news_bottom{
    margin-bottom: 220px;
}

.sec_4 .animate_slider_wrap {
    display: flex;

    overflow: hidden;
}

.sec_4 .animate_slider{
    display: flex;
    animation: slider 20s linear infinite;
}

@keyframes slider{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

.sec_4 .animate_slider a{
    display: flex;
}

.sec_4 .content{
    width: 387px;
    height: 387px;
    margin-right: 20px;
    background-color: #222;
    border: 1px solid #dbdbdb;

    transition: 0.3s;
}

.sec_4 .con_1{
    background: url(../image/news_01.jpg) no-repeat center top / cover;
}
.sec_4 .con_2{
    background: url(../image/news_02.jpg) no-repeat center top / cover;
}
.sec_4 .con_3{
    background: url(../image/news_03.jpg) no-repeat center top / cover;
}
.sec_4 .con_4{
    background: url(../image/news_04.jpeg) no-repeat center top / cover;
}
.sec_4 .con_5{
    background: url(../image/news_05.jpg) no-repeat center top / cover;
}
.sec_4 .con_6{
    background: url(../image/news_06.jpg) no-repeat center top / cover;
}


/* ---------------------------------- */
/* footer */
.footer{
    width: 100%;
    height: 500px;
    background-color: #555555;
    color: #fff;
}

.footer .container{
    width: 1600px;
    margin: 0 auto;
    padding-top: 44px;
    padding-bottom: 16px;
    letter-spacing: 1.5px;
}

.footer .footer_top{
    display: flex;
}

.footer .footer_top .box{
    width: 25%;
    height: 385px;
    padding: 8px;
}

.footer .footer_top .box h1{
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: 16px;
}

.footer .footer_top .box p{
    font-size: 0.75rem;
    font-weight: 300;
    margin-bottom: 10px;
}

.footer .footer_top .box .phone_number{
    font-size: 1.2rem;
    font-weight: 600;
}

.footer .footer_bottom {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 400;
}
.footer .footer_bottom .footer_logo{
    width: 138px;
    height: 44px;
    object-fit: contain;
}

/* ---------------------------------- */
.top_btn{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 20px;
    bottom: 40px;
    cursor: pointer;

    opacity: 0;
    z-index: -1;
    transition: 0.3s;
}

.top_btn.scroll{
    opacity: 1;
    z-index: 9999;
}

/* --------------------------------------------------------------- */
/* 반응형 미디어쿼리 */
@media (max-width: 1600px){
    .header_area .container,
    .banner .container,
    .footer .container{
        width: 100%;
        padding-left: 32px;
        padding-right: 32px;
    }

    .sub_menu_box .sub_menu{
        width: 1200px;
    }
}

/* --------------------------------------------------------- */
@media (max-width: 1420px){

    .banner .slider_wrap .banner_text_box .headtext,
    .banner .slider_wrap .slider2 .headtext,
    .banner .slider_wrap .slider3 .headtext{
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 12px;
        letter-spacing: 1.5px;
    }

    .banner .slider_wrap .banner_text_box .subtxt{
        font-size: 0.75rem;
        font-weight: 300;
    }

    .banner .slider_wrap .slider2 .link_box,
    .banner .slider_wrap .slider3 .link_box{
        width: 140px;
        height: 30px;
        line-height: 30px;
        font-size: 0.825rem;
        font-weight: 300;
    }


    .main_section .container{
        width: 100%;
        padding: 32px 32px;
        }

    .sub_menu_box,
    .header_area .icon_box{
        display: none;
    }

    .header_area .main_menu{
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);

        position: fixed;
        top: 0;
        left: 0;

        flex-direction: column;
        justify-content: center;
        align-items: center;

        font-size: 6vw;

        transform: translateY(-100%);
        transition: 0.3s;
    }

    .header_area .main_menu .menu{
        margin-right: 0;
        margin-bottom: 20px;
        font-size: 3rem;
    }

    #hamburger{
        display: block;
        width: 20px;
        height: 10px;
        position: relative;

        z-index: 99999;
    }

    #hamburger span{
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;

        transition: 0.3s;
    }

    #hamburger span:first-child{
        top: 0;
        left: 0;
    }

    #hamburger span:last-child{
        top: 100%;
        left: 0;
    }    

    /* ---------------------------- */
    /* 햄버거버튼, 메인메뉴 active */
    .header_area .main_menu.active{
        transform: translateY(0);
    }

    #hamburger.active span:first-child{
        transform: translateY(10px);
    }

    #hamburger.acrive span:last-child{
        transform: translateY(-10px);
    }
    /* ---------------------------- */
    .footer{
        height: 340px;

    }
    .footer .footer_top .box{
        width: 25%;
        height: 250px;
        padding: 8px;
    }

    .footer .footer_top .box h1{
        font-size: 0.75rem;
        font-weight: 500;
        margin-bottom: 12px;
    }
    
    .footer .footer_top .box p{
        font-size: 0.75rem;
        font-weight: 300;
        margin-bottom: 8px;
    }
    
    .footer .footer_top .box .phone_number{
        font-size: 1rem;
        font-weight: 500;
    }

    .footer .footer_bottom {
        font-size: 0.75rem;
        font-weight: 300;
    }
    .footer .footer_bottom .footer_logo{
        width: 75px;
        height: 24px;
    }
}
/* --------------------------------------------------------- */
@media (max-width: 960px){
    .header_area{
        height: 80px;
    }

    .headtext{
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: 1.5px;
        margin-bottom: 28px;
    }

    .subtext,
    .sec_1 .concept_bottom .top,
    .sec_1 .concept_bottom .bottom{
        font-weight: 500;
        font-size: 0.875rem;
        letter-spacing: 1.2px; 
        line-height: 1.5;
    }

    .sec_1 .concept_bottom .bottom{
        margin-bottom: 0;
    }

    .header_area .header_logo{
        width: 210px;
    }
    
    .banner .slider_wrap .banner_text_box .headtext,
    .banner .slider_wrap .slider2 .headtext,
    .banner .slider_wrap .slider3 .headtext{
        font-size: 1.2rem;
        font-weight: 500;
        margin-bottom: 12px;
        letter-spacing: 1.2px;
    }
    .banner .slider_wrap .banner_text_box .subtxt{
        font-size: 0.75rem;
        font-weight: 200;
    }

    .banner .slider_wrap .banner_text_box{
        position: absolute;
        top: 60%;
        left: 15%;
        color: #fff;
        width: 60%;
    }

    .banner .slider_wrap .slider2 .link_box,
    .banner .slider_wrap .slider3 .link_box{
        width: 100px;
    }

    .sec_1 .concept_bottom .con_boxes{
        flex-wrap: wrap;
    }

    .sec_1 .concept_bottom .text_box{
        height: 400px;
    }

    .sec_1 .concept_bottom .text_box,
    .sec_1 .concept_bottom .img_box{
        width: 100%;
        margin-right: 0;
        margin-bottom: 0;
        background-color: #fff;
        color: #222;
        text-align: center;
    }

    .sec_1 .concept_bottom .con_box_top,
    .sec_1 .concept_bottom .con_box_bottom{
        flex-direction: column-reverse;
    }
    /* ---------------------------- */

    .sec_2 .best_item_box{
        flex-wrap: wrap;
    }
    .sec_2 .out_box{
        margin: 0 auto;
        width: 100%;
        height: 1000px;
        margin-bottom: 16px;
        padding: 0 50px;

    }

    /* best item 호버 효과 없애기 */
    .sec_2 .front_back_box{
        pointer-events: none;
    }
    .sec_2 .b_box{
        display: none;
    }

    /* position: absolute; 없애기 */
    .sec_2 .front_back_box div{
        position: static;
    }


    /* ---------------------------- */
    .sec_3 .item_bottom{
        margin-right: -16px;
    }

    .sec_3 .item_bottom .item{
        width:  calc(50% - 16px);
        height: auto;
        margin: 0 auto;
        margin-bottom: 16px;
        margin-right: 16px;
    }
    /* ---------------------------- */
    .sec_4 .news_bottom{
        margin-bottom: 180px;
    }
    /* ---------------------------- */

    .footer .footer_top{
        margin: 0 auto;
        flex-wrap: wrap;
    }

    .footer .footer_top .box{
        width: 33.333% ;
    }

    .footer .footer_top .box:nth-child(1){
        display: none;
    }
/* --------------------------------------------------------- */
@media (max-width: 760px){
    /* aos 스타일제거 */
    [data-aos^=fade][data-aos^=fade]{
        opacity: 1 !important;
    }

    [data-aos=fade-up-left],
    [data-aos=fade-up-right]{
        transform: translate3d(0,0,0) !important;
    }
    /* ---------------------------- */

    .header_area .header_logo{
        width: 150px;
    }

    .headtext{
        font-size: 1.2rem;
        font-weight: 500;
        letter-spacing: 1.5px;
        margin-bottom: 24px;
    }

    .sec_1 .concept_top{
        margin-bottom: 44px;
    }
    .sec_1 .concept_bottom .text_box{
        height: 358px;
    }

    /* -------------------------- */
    

    .sec_2 .container{
        padding-left: 50px;
        padding-right: 50px;
    }
    .sec_2 .out_box{
        height: 800px;
        padding: 0 40px;
    }
    /* --------------------------- */
    .sec_3 .item_bottom{
        margin-right: 0px;
    }

    /* 호버 막아줌 */
    .sec_3 .item_bottom .item{
        pointer-events: none;
        width: 100%;
        margin-right: 0;
        margin-bottom: 24px;

        height: auto;
    }

    .sec_3 .item_bottom .item img{
        height: 560px;
    }

    .sec_3 .item_bottom .item_detail{
        position: static;
        height: auto;
        opacity: 1;
        background-color: transparent;
    }

    .sec_3 .item_bottom .item_inner{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        text-align: center;
        width: 100%;
        padding: 8px 0;
        font-size: 1.5rem;
    }

    .sec_3 .item_bottom .headname{
        display: none;
    }

    .sec_3 .item_bottom .headname.underline{
        border-bottom: none;  
    }

    .sec_3 .item_bottom .item_name{
        margin-bottom: 0;
    }

    /* -------------------------------- */
    
    .sec_4 .news_bottom{
        margin-bottom: 120px;
    }

    
    .sec_4 .content{
        width: 340px;
        height: 340px;
        margin-right: 16px;
    }
    /* -------------------------------- */

    .footer{
        height: 290px;
    }

    .footer .container{
       padding: 0;
    }
    .footer .footer_top{
        margin-bottom: 50px;
    }
    .footer .footer_top .box{
        width: 50%;
        height: 150px;
        padding: 16px;
        /* margin-bottom: 16px; */
    }

    .footer .footer_top .box:nth-child(3){
        display: none;
    }
    .footer .footer_bottom{
        padding: 16px;
    }
}
/* --------------------------------------------------------- */

@media (max-width: 550px){
    #hamburger{
        width: 16px;
        height: 8px;
    }

    #hamburger.active span:first-child{
        transform: translateY(8px);
    }

    #hamburger.active span:last-child {
        transform: translateY(-8px);
    }
    /* ---------------------------- */

    .banner .container{
        padding: 0 16;
    }
    .sec_1 .concept_bottom .img_box{
       height: 400px; 
    }

    .sec_2 .out_box{
        height: 440px;
        padding: 0px;
    }

    .footer .footer_top .box:nth-child(4){
        display: none;
    }
    .footer .footer_top .box{
        width: 100%;
    }

    .footer .footer_bottom{
        flex-wrap: wrap;
    }

    .footer .footer_logo{
        margin-bottom: 16px;
    }
}
}




